.cta-bg-service-gradient {
    border-radius: 50px;
    background: linear-gradient(180deg, #3333178f 0%, rgba(0, 0, 0, 0.00) 100%);
    box-shadow: 0px 0px 75px 0px rgba(23, 36, 42, 0.08);
}

.copyright-border {
    border-top: 1px solid #3333178f;
}