#tsparticles {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 0;
    pointer-events: none;
}

ng-particles, ng-particles canvas {
    position: absolute !important; 
    top: 0; left: 0; width: 100% !important; height: 100% !important;
    z-index: 1 !important;
    pointer-events: none;
}

.particles-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}
