.scrolled-nav {
    background: linear-gradient(180deg,rgba(13, 13, 13, 1) 0%, rgba(13, 13, 13, .75) 100%);
}

.nav-animate {
    animation: navFadeIn 0.4s;
}

@keyframes navFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}